{% extends 'pages/base_fundacion.html' %}
{% load static %}

{%load crispy_forms_tags %} 
{% block script_css %}
    <link rel="stylesheet" href="{% static 'css/fundacion/medico/ficha.css' %}">
{% endblock script_css %}
{% block body %}
        <nav class="options-medico">
            <a class="selected" href="http://" data-item="base_crear_consulta">Crear consulta medica</a>
            <a class=" " href="http://" data-item="section-solicitud">Expediente clinico</a>
        </nav>

    <section class="base_crear_consulta options">
        
        <article class="sectionA">
            <article class="card detalle-solicitud">
                <label for="">Nombre:</label>
                <span>{{solicitud_detalle.id_solicitudCita.id_expediente.id_datosPersonales.get_nombreCompleto}}</span>
                <label for="">Enfermero: </label>
                <span>{{solicitud_detalle.id_solicitudCita.id_enfermero.id_datos_personales.primer_nombre}}</span>
                <label for="">Descripcion:</label>
                <span>{{solicitud_detalle.descripcion}}</span>
                <label for="">Fecha de la solicitud: </label>
                <span>{{solicitud_detalle.fecha_hora}}</span>
            </article>
            <form action="" class="form-ficha" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn enviar" type="submit">Enviar</button>
            </form>
        </article>
        <article class="sectionB">
            <span>
                <a class="btn btn-outline-success" href="{% url 'fundacion:enfermedad' solicitud_detalle.solicitudCitaDetalle %}">Registrar enfermedad</a>
            </span>

            <section class="card card-medicamentos">
                <div class="header-card">
                    <img class="icon-card"  src="{% static 'imagenes/container.svg' %}" alt="">
                    <span class="text">Medicamentos asignados</span>
                    <a  href="{% url 'fundacion:crear-tratamiento' solicitud_detalle.solicitudCitaDetalle %}" class="icon-add"><img src="{% static 'imagenes/plus.svg' %}" alt=""></a>
                </div>
                <div class="body-card">
                    {% if tratamientos %}
                            <div class="sections-medicamento">
                                <span>Medicamento</span>
                                <span>Cantidad</span>
                                <span>Descripcion</span>
                                <span>Estado</span>
                            </div>
                            {% for tratamiento in tratamientos %}
                                <div class="tratamiento">
                                    <span>
                                        {{tratamiento.medicamento.nombre}}
                                    </span>
                                    <span>
                                        {{tratamiento.cantidad}}
                                    </span>
                                    <span>
                                        {{tratamiento.descripcion}}
                                    </span>
                                    <span>
                                        
                                        {% if tratamiento.estado == 1 %}
                                            Pendiente
                                            {% else %}
                                            Entregado
                                        {% endif %}
                                            
                                    </span>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class='alert alert-info'>No se ha agregado ningun medicamento</div>
                    {% endif %}
                </div>
            </section>
            <section class="card card-laboratorios">
                <div class="header-card">
                    <img class="icon-card" src="{% static 'imagenes/beaker.svg' %}" alt="">
                    <span class="text">Solicutudes de Laboratorio</span>
                    <a href="{% url 'fundacion:solicitar-laboratorio' solicitud_detalle.solicitudCitaDetalle %}" class="icon-add"><img src="{% static 'imagenes/plus.svg' %}" alt=""></a>
                </div>
                <div class="body-card">
                    {% if solicitudLaboratorio|length > 0 %}
                        <div class='section-laboratorios'>
                            <span>Especialidad</span>
                            <span>Descripcion</span>
                            <span></span>
                        </div>
                        {% for detalle in solicitudLaboratorio %}
                            <div class="detalle-solicitudes">
                                <span>{{detalle.id_tipoLaboratorio.nombre}}</span>
                                <span>{{detalle.descripcion}}</span>
                            </div>
                        {% endfor %}       
                    {% else %}
                        <div class="alert alert-info">No se ha agregado ninguna solicitud de laboratorio</div>
                    {% endif %}
                </div>
            </section>
            <section class="card card-consultas">
                <div class="header-card">
                    <img class="icon-card"  src="{% static 'imagenes/container.svg' %}" alt="">
                    <span class="text">Consultas Medicas</span>
                    <a></a>
                </div>
                <div class="body-card">
                    <div class='section-laboratorios'>
                            <span>Especialidad</span>
                            <span>Descripcion</span>
                            <span></span>
                        </div>
                    {% for consulta in solicitud.detalle_cita.all %}
                        <div class="detalle-solicitudes">
                                <span>{{consulta.id_especialidad}}</span>
                                <span>{{consulta.descripcion}}</span>
                            </div>
                    {% endfor %}
                </div>
            </section>
        </article>
    </section>
    <div class="section-solicitud expediente options" style="display:none">
        {% include 'asilo/includes/expediente.html' with expediente=expediente  %}
    </div>
{% endblock body %}
{% block js_code %}
   $('.options-medico a').click(function(){
        var item = $(this).data("item");
        $('.options-medico a').removeClass('selected');
        $(this).addClass('selected');
        $('.options').hide();
        $('.'+item).slideToggle();
   })
{% endblock js_code %}
{% block script_js_extra %}
        <script src="{% static 'js/asilo/expediente.js' %}"></script>
    {% endblock script_js_extra %}