{% extends 'asilo/base_asilo.html' %}
{% load static %}
{% block css_script %}
    <link rel="stylesheet" href="{% static 'css/contabilidad/home-contabilidad.css' %}">
{% endblock css_script %}

{% load static %}
{% block aside %}
<h6>Contabilidad</h6>
<a class="donaciones" href="{% url 'contabilidad:donaciones'  %}"><img class="ico"  src="{% static 'imagenes/gift.svg' %}" alt=""> Donaciones</a>
<a class="pagos" href="{% url 'contabilidad:pagos'  %}"><img class="ico"  src="{% static 'imagenes/pagosM.svg' %}" alt=""> Pagos</a>
<a class="facturas" href="{% url 'contabilidad:facturas'  %}"><img class="ico" src="{% static 'imagenes/facturas.svg' %}" alt="">facturas</a>
{% endblock aside %}
{% block section %}
    
{% endblock section %}

{% block script_js_extra %}
    <script src="{% static 'js/contabilidad/home-contabilidad.js' %}"></script>
    <script src="{% static 'js/contabilidad/factura.js' %}"></script>
{% endblock script_js_extra %}
{% block script_js %}
        var url = window.location.pathname.split("/")
        console.log(url[2])
        console.log(url["path"])
        $(document).ready(()=>{
            $("."+url[2]).addClass("selected");
        })
{% endblock script_js %}