<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>
        {% block tile_page %}Asilo{% endblock tile_page %}
    </title>
    <link rel="stylesheet" href="{% static 'css/recepcion/base.css' %}">
</head>
<body>
    <div class="base">
        {% block nav %}
            <nav class="options-dashboard">
                <a href="/asilo/" class="">dashboard asilo</a>
                <a href="/fundacion/" class="">dashboard fundacion</a>
                <article class="search">
                    <form action="{% url 'usuarios:buscar-expediente' %}" method="get">
                        <select name="opcion" class="options-search">
                            <option value="1">DPI</option>
                            <option value="2">Nombre</option>
                            <option value="3">Primer Apellido</option>
                            <option value="4">Codigo Expediente</option>
                        </select>
                        <input type="search" name="search" id="search">
                        <button type="submit">buscar</button>
                    </form>
                </article>
                <a href="{% url 'asilo:dashboard-medico' %}" class="">dashboard Medico</a>
                <a href="{% url 'contabilidad:dashboard-contabilidad' %}" class="">Contabilidad</a>
                <a href="" class="">reportes</a>
            </nav>
        {% endblock nav %}
        {% block section %}
            
        {% endblock section %}
    </div>
</body>
</html>