{% extends 'contabilidad/home-contabilidad.html' %}
{% load static %}
{% load contabilidad %}
{% load crispy_forms_tags %}
{% block css_script_extra %}
   <link rel="stylesheet" href="{% static 'css/contabilidad/donaciones.css' %}">
{% endblock css_script_extra %}
{% block section %}
<div class="donaciones-card">
    <nav class="nav-donaciones"><a class="btn bg" href="{% url 'contabilidad:crear-donacion'  %}">Crear donacion</a></nav>
{% if form %}
    <div class="card card-form">
        <h5>Registrando donaciones</h5>
        <form action="" method="post">
        {% csrf_token %}
            {{form|crispy}}
            <button class="btn" type="submit">Siguiente</button>
        </form>
    </div>
{% endif %}
    
    {% if donaciones %}
        {% include 'asilo/includes/donaciones.html' with donaciones=donaciones title="donaciones" %}
    {% endif %}
</div>

        
{% endblock section %}