{% extends 'contabilidad/home-contabilidad.html' %}
{% load static %}
{% load contabilidad %}
{% load crispy_forms_tags %}
{% block css_script_extra %}
    <link rel="stylesheet" href="{% static 'css/contabilidad/pagos.css' %}">
{% endblock css_script_extra %}
{% block section %}
    <div class="pagina-pagos">
        {% if paginaPagos %}
                <a class="btn btn-crear" href="{% url 'contabilidad:pagar-servicio'  %}">Pagar servicio</a>
                {% include 'asilo/includes/pagos.html' with pagos=pagos title="ultimos pagos" %}
        {% endif %}
        
        {% if form %}
            <div class="form-page">
                <form class="card" action="" method="post">
                    <h5>Pagando servicio</h5>
                    {% csrf_token %}
                    {{form|crispy}}
                
                    <button class="btn btn-crear" type="submit">Guardar</button>
                </form>
            </div>
        {% endif %}
            
    </div>
{% endblock section %}