{% extends 'pages/base_fundacion.html' %}
{% load static %}
{% block script_css %}
    <link rel="stylesheet" href="{% static 'css/fundacion/recepcion/dashboard-recepcion.css' %}">
{% endblock script_css %}
{% block body %}
<span class="pagina-activa" data-pagina="recepcion" hidden></span>
<div class="base-dashboard-medico">
    <h4>Solicitudes pendientes de confirmar</h4>
    {% include 'includes/lista_solicitudes.html' with citas=citas activar_edicion=True %}
</div>
{% endblock body %}
{% block script_js %}
    <script src="{% static 'js/fundacion/dashboard_fundacion.js' %}"></script>
{% endblock script_js %}