{% load static %}
{% block css_script %}
    <link rel="stylesheet" href="{% static 'css/includes/solicitudes.css' %}">
{% endblock css_script %}
<section class="citas">
        <nav class="citas-options">
            <span>Paciente</span>
            <span>Edad</span>
            <span>Enfermero</span>
            <span>Descripcion General</span>
            <span>Solicitado el</span>
            <span># areas pendientes</span>
            <span>Opciones</span>
        </nav>
        {% if citas %}
            {% for cita in citas %}
            
            {% comment %} {% if cita.get_solicitudesDetalle|length > 0 %} {% endcomment %}
                <section class="solicitud">
                    <article class="solicitud-general" data-id="{{cita.id_solicitudCita}}">
                        <span>{{cita.id_expediente.id_datosPersonales.get_nombreCompleto }}</span>
                        <span>{{cita.id_expediente.id_datosPersonales.fecha_nacimiento}}</span>
                        <span>{{cita.id_enfermero}}</span>
                        <span>{{cita.descripcion}}</span>
                        <span>{{cita.creado_en}}</span>
                        <span>
                            {{cita.get_solicitudesDetalle|length}}
                        </span>
                        <span class="last options">
                            {% if activar_edicion %}
                            {% else %}
                                    <a href="{% url 'asilo:crear-solicitud' cita.id_expediente.id_expediente %}">Finalizar</a>
                            {% endif %}
                            <span class="ver-especialidades" data-id="{{cita.id_solicitudCita}}"  href="">
                                <img src="{% static 'imagenes/chevron-down.svg' %}" alt=""> Ver
                            </span>

                        </span>
                    </article>
                    {% if cita.get_solicitudesDetalle|length > 0 %}
                        <article class= "card card-general {{cita.id_solicitudCita}}" style="display:none">
                            {% for detalle in cita.detalle_cita.all %}
                                <div class= "card card-especialidad" >
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Especialidad:</strong> {{detalle.id_especialidad}}</li>
                                        <li class="list-group-item"> <strong>Motivo: </strong> {{detalle.descripcion}}</li>
                                        
                                        {% if activar_edicion %}
                                            <li class="list-group-item">
                                                {% if detalle.aceptada == None %}
                                                    <h6>Asignar fecha</h6>
                                                    <form class="datetime" action="{% url 'fundacion:actualizar-detalle-solicitud' detalle.solicitudCitaDetalle %}" method="post">
                                                    {% csrf_token %}
                                                        <input class="" type="date" name="fecha_hora" id="fecha_hora">
                                                        <input class="" type="time" name="fecha_hora" id="fecha_hora">
                                                        <button class="asignar-fecha" type="submit"><img src="{% static 'imagenes/check.svg' %}" alt=""></button>
                                                    </form>
                                                    {% else %}
                                                    <span>Fecha:</span>
                                                    {{detalle.fecha_hora}}
                                                {% endif %}
                                            </li>
                                            {% if detalle.aceptada == None %}
                                                <li class="list-group-item">
                                                    <h6>rechazar</h6>
                                                    <form class="form-rechazar" action="{% url 'fundacion:rechazar-solicitud-detalle' detalle.solicitudCitaDetalle %}" method="post">
                                                            {% csrf_token %}
                                                            <input class="" name="motivo" placeholder="motivo " required type="text">
                                                            <button type="submit" class="asignar-fecha"><img src="{% static 'imagenes/check.svg' %}" alt=""></button>
                                                        </form>
                                                </li>
                                            {% endif %}
                                            <li class="list-group-item">
                                                {% if detalle.aceptada %}
                                                    <span class="text-success">
                                                        Aceptado
                                                    </span>
                                                    {% elif detalle.aceptada == False %}
                                                        <span class="text-warning">Rechazada</span>
                                                    {% else %}
                                                    <span class="text-warning">Pendiente</span>
                                                {% endif %}
                                            </li>
                                            {% if detalle.aceptada == False %}
                                                <li class="list-group-item">
                                                        <h6>motivo rechazo:</h6>
                                                        {% for motivo in detalle.motivo_rechazo_detalleSolicitud.all %}
                                                            {{motivo.motivo}}
                                                        {% endfor %}
                                                <li>
                                            {% endif %}
                                            
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </article>
                    {% endif %}
                </section>
            {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
        {% endif %}
        
        {% if solicitudes %}
            
        {% endif %}
            
    </section>
    {% block script_js_extra %}
        <script type='text/javascript' src="{% static 'js/fundacion/includes/lista_solicitudes.js' %}"></script>
    {% endblock script_js_extra %}
