/* dashboard */

.expedientes {
    margin-top: 10vh;
    width: 90%;
}

.expedientes .btn {
    float: right;
}

.dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table {
    border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
}