{% extends 'reportes/base.html' %}
{% load static %}
{% load contabilidad %}
{% block css_script_extra %}
    <link rel="stylesheet" href="{% static 'css/includes/pagos.css' %}">
    <link rel="stylesheet" href="{% static 'css/contabilidad/pagos.css' %}">
{% endblock css_script_extra %}
{% block section %}
    <div class="body-pagos">
        <nav class="opcion-buscar">
            <form action="" method="get">
                Del: <input type="date" name="dateInit" id="dateInit"> al 
                <input type="date" name="dateFin" id="dateFin">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <form action="" method="get">
                Nombre del servicio:
                <input type="text" name="nombre" id="nombre">
                <button class="btn btn-outline-success" type="submit">Buscar servicio</button>
            </form>
        </nav>
        
        {% if pagos %}
            {% include 'asilo/includes/pagos.html' with pagos=pagos  title="pagos encontrados" %}
        {% else %}
            <div class="alert alert-info">No se encontraron resultados</div>
        {% endif %}
            
        

    </div>
{% endblock %}