{% extends 'base_asilo.html' %}

{% load crispy_forms_tags %}
{% block section %}
    
    {% if solicitud %}
        <article class="solicitud">
                    <div>
                        <label>Cliente: </label><span>{{solicitud.id_expediente.id_datosPersonales.get_nombreCompleto}}</span>
                    </div>
                    <div>
                        <label>Enfermero asignado: </label><span>{{solicitud.id_enfermero}}</span>
                    </div>
                    <div>
                        <label>Descripcion general: </label><span>{{solicitud.descripcion}}</span>
                    </div>
                </article>
                <article class="detalle-solicitud">
    {% endif %}
    {% if detalles %}
        <section class="finalizar-solicitud">
                    <table>
                        <thead>
                            <tr>
                                <th>Especialidad</th>
                                <th>descripcion</th>
                                <th>fecha y hora asignada</th>
                                <th>Aceptado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in detalles %}
                                <tr>
                                    <td>{{detalle.id_especialidad}}</td>
                                    <td>{{detalle.descripcion}}</td>
                                    <td>{{detalle.fecha_hora}}</td>
                                    <td>{{detalle.aceptado}}</td>
                                    <td>
                                        <form action="{% url 'asilo:eliminar-detalle-solicitud' detalle.solicitudCitaDetalle %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn" name="id_solicitudCitaDetalle" value="{{detalle.solicitudCitaDetalle}}" type="submit">Eliminar</button>
                                        </form>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button class="btn" name="id_solicitudCitaDetalle" value="{{detalle.solicitudCitaDetalle}}" type="submit">Editar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
        </section>
    {% endif %}
    {% if form %}
        <section class="form-section">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                {% if pagina %}
                    <br>
                        <button class="btn" name="proximo_paso" value="guardar_y_repetir" type="submit">Guardar y Agregar otra</button>
                        <button class="btn" name="proximo_paso" value="guardar_y_enviar" type="submit">Guardar y enviar</button>
                    {% else %}
                    <br>
                    <button class="btn" type="submit">Siguiente</button>
                {% endif %}
            </form>
        </section>
    {% endif %}
    
    
        
    
{% endblock section %}