{% extends 'asilo/base_asilo.html' %}
{% load static %}
{% block css_script %}
<link rel="stylesheet" href="{% static 'css/reportes/consultas.css' %}">
    <link rel="stylesheet" href="{% static 'css/contabilidad/home-contabilidad.css' %}">
{% endblock css_script %}
{% load static %}
{% block asideHeader %}
<h6>Reportes</h6>
    <a class="fichas" href="{% url 'reportes:fichas'  %}"><img class="ico"  src="{% static 'imagenes/facturas.svg' %}" alt="">Costo por Citas</a>
    <a class="medicos" href="{% url 'reportes:medicos'  %}"><img class="ico"  src="{% static 'imagenes/arrow-switch.svg' %}" alt=""> reporte medico</a>
    <a class="cobros" href="{% url 'reportes:cobros'  %}"><img class="ico" src="{% static 'imagenes/pagos.svg' %}" alt="">Reporte de Cobros</a>
    <a class="pagos" href="{% url 'reportes:pagos'  %}"><img class="ico" src="{% static 'imagenes/pagos.svg' %}" alt="">Reporte de pagos</a>
    <a class="donaciones" href="{% url 'reportes:donaciones'  %}"><img class="ico" src="{% static 'imagenes/pagosM.svg' %}" alt="">Reporte de donaciones</a>
    <a class="medicamentos" href="{% url 'reportes:medicamentos'  %}"><img class="ico" src="{% static 'imagenes/medicina.svg' %}" alt="">medicamentos</a>
    
{% endblock asideHeader %}
{% block aside %}
{% endblock aside %}
{% block section %}

{% endblock section %}
{% block script_js_extra %}
    <script src="{% static 'js/contabilidad/home-contabilidad.js' %}"></script>
{% endblock script_js_extra %}
{% block script_js %}
        var url = window.location.pathname.split("/")
        console.log(url[2])
        console.log(url["path"])
        $(document).ready(()=>{
            $("."+url[2]).addClass("selected");
        })
{% endblock script_js %}