<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/preconstrucciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/fundacion/base_fundacion.css' %}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block script_css %}
    
    {% endblock script_css %}
    <title>Senes</title>
</head>
<body>
    <header class="header-base">
        <nav class="nav-options-medico">
             <a class="logo" href="{% url 'asilo:home' %}">
                    <img src="{% static 'imagenes/gh_icon.svg' %}" alt="">
                    <span>senes proteges</span>
                </a>
            <a href="{% url 'asilo:home' %}">dashboard asilo</a>
            <a href="/fundacion/">dashboard fundacion</a>
            
            <aside class="cuenta">
                Acceder a la cuenta
            </aside>
        </nav>
    </header>
    <div class="body-recepcion">
        <aside class="aside-recepcion">
            <a class="clinica"  href="{% url 'fundacion:dashboard-medico' %}"><img src="{% static 'imagenes/repo-forked.svg' %}" alt=""> Clinica Medica</a>
            <a class="recepcion" href="{% url 'fundacion:dashboard-recepcion' %}"><img src="{% static 'imagenes/history.svg' %}" alt=""> Recepcion</a>
            <a class="laboratorio" href="{% url 'fundacion:dashboard-laboratorio' %}"><img src="{% static 'imagenes/beaker.svg' %}" alt=""> Laboratorio</a>
            <a class="farmacia" href="{% url 'fundacion:dashboard-farmacia' %}"><img src="{% static 'imagenes/container.svg' %}" alt=""> Farmacia</a>
            <a class="Laboratorio" href="http://"><img src="{% static 'imagenes/note.svg' %}" alt="">  Facturas</a>
        </aside>
        <section class="principal">
            {% block body %}
                    
            {% endblock body %}
    </section>
    </div>
</body>
<script src="{% static 'js/fundacion/base_fundacion.js' %}"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
        $(document).ready(()=> {
        $(".table").DataTable({
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"}
            })
        })
        
</script>
{% block script_js %}
            
{% endblock script_js %}
</html>