<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/medico/base.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block script_css %}
    
    {% endblock script_css %}
    <title>Senes</title>
</head>
<body>
    <header class="header-base">
        <nav class="nav-options-medico">
            <a href="/asilo/">dashboard asilo</a>
            <a href="/fundacion/">dashboard fundacion</a>
            <a  href="{% url 'fundacion:dashboard-medico' %}">dashboard medico</a>
            <a href="{% url 'fundacion:dashboard-recepcion' %}">dashboard recepcion</a>
            <a href="{% url 'fundacion:dashboard-laboratorio' %}">dashboard laboratorio</a>
            <a href="{% url 'fundacion:dashboard-farmacia' %}">dashboard farmacia</a>
            <aside class="cuenta">
                Acceder a la cuenta
            </aside>
        </nav>
    </header>
    <section class="base">
        {% block body %}
                
        {% endblock body %}
    </section>
</body>
</html>