{% extends 'pages/base_fundacion.html' %}
{% load static %}
{% block script_css %}
    <link rel="stylesheet" href="{% static 'css/fundacion/laboratorio/laboratorio.css' %} ">
{% endblock script_css %}
{% block body %}
<span class="pagina-activa" data-pagina="laboratorio" hidden></span>
    <section class="base">
            
        {% comment %} pagina de citas {% endcomment %}
        
        {% if solicitudesLaboratorio or laboratoriosPendientes %}
            <nav class="nav-top">
                <span class="seleccionado-top" data-pagina="solicitudes">Solicitudes</span>
                <span class=""  data-pagina="pendientes">Resultado pendiente</span>
                <span class=""  data-pagina="historial">Historial</span>
            </nav>
            {% include 'pages/laboratorio/laboratorios_diario.html' with solicitudesLaboratorio=solicitudesLaboratorio laboratoriosPendientes=laboratoriosPendientes %}
        {% endif %}
        
        {% if form %}
            {% include 'pages/forms.html' with form=form %}
        {% endif %}
            
        
    </section>
{% endblock body %}
{% block script_js %}
    <script src="{% static 'js/fundacion/dashboard-laboratorio.js' %}"></script>
{% endblock script_js %}