.base-expediente {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
}




/* derecho */

.expediente-opciones {
    padding: 1rem;
}
.card {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
}

.card img {

    height:5rem;
    width:100%;
}
.card span {
    display: flex;
    justify-content:center;
}
.card h5 {
    color: gray;
}