.base-dashboard-medico {
    display: grid;

width: 100%;
padding-top: 4vh;
justify-content: center;
}

.options {
    display: flex;
    height: 6vh;
    flex: 1;
    justify-content: space-around;
}

.options .btn {
    height: 6vh;
    width: 15vw;
}

.citas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-crear-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.tabla-citas-medicas {
    width: 90%;
}

.tabla-citas-medicas tr {
    display: grid;
    grid-template-columns: auto 100px auto 200px 100px 200px;
    border-bottom: 1px solid black;
}

.tabla-citas-medicas tr td,
.tabla-citas-medicas tr th {
    display: flex;
    justify-content: center;
    align-items: center;
}