.base_crear_consulta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.detallar-formulario {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 2vw;
    margin-right: 2vw;
}

.sectionA,
.sectionB {
    display: flex;
    flex-direction: column;
}

.sectionA {
    align-items: center;
}


/* sectionA */

.detallar-formulario .historial {}

.detalle-solicitud,
.form-ficha {
    width: 38vw;
}

.textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid gray;
}

.select {
    height: 5vh;
    width: 15vw;
}

.options {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.options a {
    height: 5vh;
    width:2vw;
    text-decoration: none;
}

.enviar {
    margin-top: 5vh;
}

.detalle-solicitud {
    margin-top: 3vh;
    align-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.card label {
    margin-top: 10px;
    font-weight: bold;
}

.card-solicitudes {
    width: 10vw;
}


/* sectionB */

.sectionB {
    padding-top: 1rem;
}

.card-medicamentos,
.card-laboratorios, 
.card-consultas {
    width: 40vw;
    height: 35vh;
    margin-bottom: 1rem;
}

.body-card {
    padding: 1rem;
    overflow: scroll;
}

.header-card {
    height: 8vh;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-add {
    background-color: var(--verde-opaco);
    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}

.icon-add:hover {
    background-color: var(--verde);
}

.icon-card {
    margin-left: 1em;
}

.header-card .text {
    font-weight: bold;
    color: var(--text-color);
}


/* medicamentos */

.sections-medicamento, .tratamiento {
    font-size: 10px;
    display: grid;
    grid-template-columns:  119px 75px 102px 139px 56px;
}

.sections {
height: 7vh;
font-weight: bold;
}
.sections span, .tratamiento span {
    display: flex;
    justify-content: center;
    align-items: center;

}


.tratamiento{
    border:1px solid var(--text-color);
    margin-bottom: 10px;
    border-radius: 5px;
}



/* laboratorios */

.section-laboratorios, .detalle-solicitudes {
    display: grid;
    grid-template-columns: 187px 1fr;

}

.section-laboratorios span {
    font-size: 12px;
    font-weight: bold;
}

.detalle-solicitudes {
    border: 1px solid var(--text-color);
    margin-top: 0.5rem;
    border-radius: 5px;
    padding-left: 0.5rem;
}
.detalle-solicitudes span {
    font-size: 12px;
}