.facturas-pendientes {
    padding: 1rem;
}

.facturas {
    margin-bottom: 1rem;
}
.facturas .card-header, .factura .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-header span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle-factura {
    display: grid !important;
    grid-template-columns: 181px 107px 108px 184px 104px 100px;
}

.facturas > .card-body {
    display: grid;
    grid-template-columns: 331px 306px;
    gap: 1rem;
}

.card .card {
    width: 24vw;
}

.sections-farmacia, 
.content-detalle-farmacia {
    display: grid;
    grid-template-columns: 150px 80px 50px;
}

.detalle-especialidades {
    grid-template-columns: 200px 50px;
display: grid;
}


/* pagina de pagar facturas */

.form-pagar {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-pagar .factura {
    width: 80%;
    margin-top: 1rem;
    margin-right: 1rem;
}
.form-pagar .factura .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.pagar {
    margin-top: 1rem;
}
.pagar input {
    width: 90%;
}
.pagar .btn {
    margin-top: 1rem;
}

/* transacciones */

.sections-cobro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}