.citas {
    width: 100%;

}
.citas-options,
.solicitud-general {
    display: grid;
    padding-left: 1rem;
    grid-template-columns: 175px 111px 125px 228px 131px 100px 139px;
}

.citas-options {
    height: 8vh;
    border: 1px solid var(--border-page);
}

.citas-options span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-aceptar {
    display: flex;
    border: 1px solid var(--verde) !important;
    flex-direction: row;
    float: right;
    font-size: small;
    border-radius: 0px 0px 5px 5px !important;
    height: 2rem;
    margin: 2px;
}

.solicitud-general {
    border: 1px solid gray;
    margin-top: 1rem;
    align-items: center;
}

.ver-especialidades {
    border-radius: 5px 0px 0px 0px;
    border: 1px solid var(--border-page);
    float: right;
    display: flex;
    justify-content: space-around;
    border-bottom: none;
    border-right: none;
}

.card-general {
    border-top: none;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-especialidad {
    width: 20vw;
    margin-right: 1rem;
}

.datetime {
    display: flex;
}

.asignar-fecha {
    background: var(--verde-opaco);
    border: none;
    border-radius: 5px;
    color: white;
}

.asignar-fecha:hover {
    border: 1px solid var(--border-page)
}

.options {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
}

strong {
    display: block;
    color: gray;
    font-weight: bold;
}

.form-rechazar {
    display: grid;
    grid-template-columns: 14vw 50px;
}

.historial {
    width: 90%;
}