            <article class="detalle-citas">
            <h4>Laboratorios Pendientes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas %}
                        {% if cita.laboratorio_solicitudDetalle.all %}
                            {% else %}
                            <tr>
                            <td>{{cita.id_solicitudCita.id_expediente.id_datosPersonales.get_nombreCompleto}}</td>
                            <td>{{cita.id_especialidad.especialidad}}</td>
                            <td>{{cita.descripcion}}</td>
                            <td>{{cita.fecha_hora}}</td>
                            <td>
                                <a class="btn" href="{% url 'fundacion:crear-laboratorio' cita.solicitudCitaDetalle %}">crear</a>
                            </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                
                </tbody>
            </table>
        </article>
        <article class="detalle-citas">
            <h4>Laboratorios Realizados</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Tipo</th>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas %}
                        <tr>
                        <td>{{cita.id_solicitudCita.id_expediente.id_datosPersonales.get_nombreCompleto}}</td>
                        <td>{{cita.id_especialidad.especialidad}}</td>
                        <td>{{cita.descripcion}}</td>
                        <td>{{cita.fecha_hora}}</td>
                        <td>
                            
                            {% if cita.laboratorio_solicitudDetalle.all %}
                                {% for laboratorio in cita.laboratorio_solicitudDetalle.all %}
                                    <a href="{% url 'fundacion:editar-laboratorio' laboratorio.id_laboratorio %}" class="btn">ver</a>
                                {% endfor %}
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </article>