
<div class="card card-enfermedades">
    <div class="sections-header-enfermedades">
        <span>Nombre</span>
        <span>Descripcion</span>
        <span>fecha</span>
    </div>
        {% for enfermedad in enfermedades %}
            <div class="sections-body-enfermedades">
                <span>
                    {{enfermedad.id_enfermedad.nombre}}
                </span>
                <span>
                    {{enfermedad.descripcion}}
                </span>
                <span>
                    {{enfermedad.fecha}}
                </span>
            </div>
        {% endfor %}
</div>