<div class="card card-laboratorios-expediente">
    <div class="sections-laboratorio">
        <span>Especialidad</span>
        <span>Descripcion de solicitud</span>
        <span>Fecha</span>
        <span>Muestra</span>
        <span>Resultado</span>
        <span>Descripcion</span>
    </div>
        
        {% if fichas %}
            {% for ficha in fichas %}
                {% for laboratorio in ficha.laboratorio_ficha.all %}
                    <div class="laboratorios-section">
                        <span>{{laboratorio.id_solicitudLaboratorio.id_tipoLaboratorio.nombre}}</span>
                        <span>{{laboratorio.id_solicitudLaboratorio.descripcion}}</span>
                        <span>{{laboratorio.fecha_hora}}</span>
                        <span>{{laboratorio.tipo_muestra.muestra}}</span>
                        <span>{{laboratorio.resultado}}</span>
                        <span>{{laboratorio.descripcion_resultado}}</span>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% if ficha %}
                    {% for laboratorio in ficha.laboratorio_ficha.all %}
                        <div class="laboratorios-section">
                            <span>{{laboratorio.id_solicitudLaboratorio.id_tipoLaboratorio.nombre}}</span>
                            <span>{{laboratorio.id_solicitudLaboratorio.descripcion}}</span>
                            <span>{{laboratorio.fecha_hora}}</span>
                            <span>{{laboratorio.tipo_muestra.muestra}}</span>
                            <span>{{laboratorio.resultado}}</span>
                            <span>{{laboratorio.descripcion_resultado}}</span>
                        </div>
            {% endfor %}
        {% endif %}
            
</div>