{% load static %}
{% block css_script %}
    <link rel="stylesheet" href="{% static 'css/includes/nav-header.css' %}">
{% endblock css_script %}
<nav class="options-dashboard">
                <a class="logo" href="{% url 'asilo:home' %}">
                    <img src="{% static 'imagenes/gh_icon.svg' %}" alt="">
                    <span>senes proteges</span>
                </a>
                <a href="/fundacion/" class="">Fundacion</a>
                <article class="search">
                    <form action="{% url 'usuarios:buscar-expediente' %}" method="get">
                        <select name="opcion" class="options-search">
                            <option value="1">DPI</option>
                            <option value="2">Nombre</option>
                            <option value="3">Primer Apellido</option>
                            <option value="4">Codigo Expediente</option>
                        </select>
                        <input type="search" name="search" id="search">
                        <button class="btn" type="submit">buscar</button>
                    </form>
                </article>
                <a href="{% url 'asilo:dashboard-medico' %}" class="">Medico</a>
                <a href="{% url 'contabilidad:dashboard-contabilidad' %}" class="">Contabilidad</a>
                <a href="{% url 'reportes:fichas' %}" class="">Reportes</a>
                    <div class="dropdown dropdown-perfil">
                        <button class=" toggle-perfil" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'imagenes/person.svg' %}" alt="">
                        </button>
                        <div class="menu-perfil" style="display:none">
                            <a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar sesion</a>
                        </div>
                    </div>

            </nav>