<div class="card card-tratamientos">
    <div class="sections-tratamientos">
        <span>Fecha</span>
        <span>medicamento</span>
        <span>Cantidad</span>
        <span>Descripcion</span>
    </div>
    
    {% if fichas %}
        {% for ficha in fichas %}
            {% for tratamiento in ficha.tratamiento_ficha.all %}
                <div class="content-tratamientos">
                    <span>{{tratamiento.fecha}}</span>
                    <span>{{tratamiento.medicamento}}</span>
                    <span>{{tratamiento.cantidad}}</span>
                    <span>{{tratamiento.descripcion}}</span>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
        
    {% if ficha %}
            {% for tratamiento in ficha.tratamiento_ficha.all %}
                <div class="content-tratamientos">
                    <span>{{tratamiento.fecha}}</span>
                    <span>{{tratamiento.medicamento}}</span>
                    <span>{{tratamiento.cantidad}}</span>
                    <span>{{tratamiento.descripcion}}</span>
                </div>
            {% endfor %}
    {% endif %}
</div>