.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

input {
    height: 5vh;
    border-radius: 5px;
    margin-top: 1vh;
}

.options-dashboard {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.options-dashboard a {
    text-decoration: none;
    height: 6vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}