

.card-tratamientos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sections-tratamientos, .content-tratamientos {
    display: grid;
    grid-template-columns: 100px 200px 150px 74px 160px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

.sections-tratamientos {
    font-weight: bold;
}

.content-tratamientos {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}